
* {
  margin: 0;
  padding: 0;
}

body {
  color: #1E1E1E;
}

.product-display {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product-card {
  position: relative;
  min-width: 300px;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  box-shadow: 0 15px 45px rgba(0,0,0,0.1);
  background-color: white;
}
  
.product-card .product-image {

}

.product-card .product-image img {
  max-width: 200px;
  padding: 5px 0px;
}

.product-card .group {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 5px;
}

.product-card .group h2 {
  text-align: center;
  margin: 20px 0px;
  padding: 10px 0px;
}

.product-card .group .group2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  color: #3F3F3F;
}

.product-card .group p {
  border-top: 1px solid #DCDCDC; 
  padding: 10px 0px;
}

.product-card .group h3 {
  border-top: 1px solid #DCDCDC;
  padding-top: 15px;
  margin-top: 50px;
}

.product-card .group .product-button {
  display: flex;
  margin: 10px 0px;
}

.product-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-img-unavailable-background {
  background-image: url('../page-unavailable.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-img-unavailable {
  display: none;
}

.product-unavailable {
  padding: 70px 0;
  text-align: center;
}

.rating {
  margin-bottom: 10px;
}

button {
  flex: 1;
  padding: 10px;
  margin: 5px 3px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.page-men {
  background: linear-gradient(#D6E6FF 70%, transparent 50%);
}

.page-women {
  background: linear-gradient(#FDE2FF 70%, transparent 50%);
}

.page-unavailable {
  background: linear-gradient(#DCDCDC 70%, transparent 50%);
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  border-bottom: 10px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}